In [4]:
# -*- encoding: utf8-*-

import pandas as pd

file_name = "weather.csv"

In [2]:
data = pd.read_csv("WW.csv")

In [3]:
data

,Unnamed: 0,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN
5,5,2016/1/1 06:00,1010.8,NaN,17.2,NaN,81,1.1,115,NaN,NaN,0,NaN,NaN,NaN,NaN
6,6,2016/1/1 07:00,1011.6,NaN,18.2,NaN,80,0.5,172,NaN,NaN,0,NaN,NaN,NaN,NaN
7,7,2016/1/1 08:00,1012.2,NaN,21.9,NaN,67,0.9,208,NaN,NaN,0,NaN,NaN,NaN,NaN
8,8,2016/1/1 09:00,1011.9,NaN,23.8,NaN,60,0.5,251,NaN,NaN,0,NaN,NaN,NaN,NaN
9,9,2016/1/1 10:00,1011.1,NaN,25.8,NaN,51,0.8,203,NaN,NaN,0,NaN,NaN,NaN,NaN
10,10,2016/1/1 11:00,1010.3,NaN,26.3,NaN,46,1.7,321,NaN,NaN,0,NaN,NaN,NaN,NaN
11,11,2016/1/1 12:00,1009,NaN,26.8,NaN,45,1.8,318,NaN,NaN,0,NaN,NaN,NaN,NaN
12,12,2016/1/1 13:00,1008.1,NaN,27.6,NaN,44,1.5,240,NaN,NaN,0,NaN,NaN,NaN,NaN
13,13,2016/1/1 14:00,1007.9,NaN,27.6,NaN,44,1.4,276,NaN,NaN,0,NaN,NaN,NaN,NaN
14,14,2016/1/1 15:00,1008.2,NaN,25.2,NaN,55,2.3,208,NaN,NaN,0,NaN,NaN,NaN,NaN
15,15,2016/1/1 16:00,1008.8,NaN,23.3,NaN,62,1.2,223,NaN,NaN,0,NaN,NaN,NaN,NaN
16,16,2016/1/1 17:00,1009.3,NaN,21.4,NaN,70,0.5,60,NaN,NaN,0,NaN,NaN,NaN,NaN
17,17,2016/1/1 18:00,1009.7,NaN,20.6,NaN,74,0.8,60,NaN,NaN,0,NaN,NaN,NaN,NaN
18,18,2016/1/1 19:00,1010.2,NaN,20.1,NaN,76,0.7,65,NaN,NaN,0,NaN,NaN,NaN,NaN
19,19,2016/1/1 20:00,1010.5,NaN,19.2,NaN,79,0.7,34,NaN,NaN,0,NaN,NaN,NaN,NaN
20,20,2016/1/1 21:00,1010.6,NaN,18.7,NaN,84,0.8,4,NaN,NaN,0,NaN,NaN,NaN,NaN
21,21,2016/1/1 22:00,1010.3,NaN,17.6,NaN,90,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
22,22,2016/1/1 23:00,1010.1,NaN,17.6,NaN,89,0.7,1,NaN,NaN,0,NaN,NaN,NaN,NaN
23,23,2016/1/2 00:00,1010,NaN,16.9,NaN,92,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
24,24,2016/1/2 01:00,1009.6,NaN,17.4,NaN,90,1.4,50,NaN,NaN,0,NaN,NaN,NaN,NaN
25,25,2016/1/2 02:00,1008.4,NaN,17.9,NaN,86,1.7,47,NaN,NaN,0,NaN,NaN,NaN,NaN
26,26,2016/1/2 03:00,1008.4,NaN,17,NaN,89,1,355,NaN,NaN,0,NaN,NaN,NaN,NaN
27,27,2016/1/2 04:00,1007.5,NaN,17.6,NaN,86,1.1,41,NaN,NaN,0,NaN,NaN,NaN,NaN
28,28,2016/1/2 05:00,1008.2,NaN,17.1,NaN,88,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
29,29,2016/1/2 06:00,1008.3,NaN,18,NaN,85,1.1,70,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20033,20033,2018/4/14 18:00,998.2,NaN,27.3,NaN,83,0.4,258,NaN,NaN,0,NaN,NaN,NaN,NaN
20034,20034,2018/4/14 19:00,998,NaN,26.8,NaN,87,1,47,NaN,NaN,0,NaN,NaN,NaN,NaN
20035,20035,2018/4/14 20:00,998.3,NaN,26,NaN,90,0.9,52,NaN,NaN,0,NaN,NaN,NaN,NaN
20036,20036,2018/4/14 21:00,998.8,NaN,25.5,NaN,93,1.2,50,NaN,NaN,0,NaN,NaN,NaN,NaN
20037,20037,2018/4/14 22:00,999.4,NaN,25.3,NaN,95,0.7,26,NaN,NaN,0,NaN,NaN,NaN,NaN
20038,20038,2018/4/14 23:00,998.2,NaN,26.3,NaN,74,1.3,77,NaN,NaN,0,NaN,NaN,NaN,NaN
20039,20039,2018/4/15 00:00,998,NaN,26,NaN,70,1,100,NaN,NaN,0,NaN,NaN,NaN,NaN
20040,20040,2018/4/15 01:00,997.2,NaN,26,NaN,65,0.9,74,NaN,NaN,0,NaN,NaN,NaN,NaN
20041,20041,2018/4/15 02:00,996.4,NaN,26.3,NaN,62,1.3,107,NaN,NaN,0,NaN,NaN,NaN,NaN
20042,20042,2018/4/15 03:00,996.7,NaN,25.9,NaN,64,1.3,23,NaN,NaN,0,NaN,NaN,NaN,NaN
20043,20043,2018/4/15 04:00,997,NaN,24.7,NaN,93,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20044,20044,2018/4/15 05:00,997.6,NaN,24.5,NaN,89,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20045,20045,2018/4/15 06:00,997.9,NaN,25.9,NaN,71,0.7,102,NaN,NaN,0,NaN,NaN,NaN,NaN
20046,20046,2018/4/15 07:00,998,NaN,26.7,NaN,64,0.9,69,NaN,NaN,0,NaN,NaN,NaN,NaN
20047,20047,2018/4/15 08:00,998.8,NaN,28.4,NaN,68,1.3,261,NaN,NaN,0,NaN,NaN,NaN,NaN
20048,20048,2018/4/15 09:00,998.6,NaN,30,NaN,61,1,278,NaN,NaN,0,NaN,NaN,NaN,NaN
20049,20049,2018/4/15 10:00,998.4,NaN,32.8,NaN,48,1.1,250,NaN,NaN,0,NaN,NaN,NaN,NaN
20050,20050,2018/4/15 11:00,998.2,NaN,32.5,NaN,50,1.6,235,NaN,NaN,0,NaN,NaN,NaN,NaN
20051,20051,2018/4/15 12:00,997.8,NaN,30.1,NaN,64,2.1,225,NaN,NaN,0,NaN,NaN,NaN,NaN
20052,20052,2018/4/15 13:00,997.6,NaN,28.9,NaN,68,1.9,213,NaN,NaN,0,NaN,NaN,NaN,NaN
20053,20053,2018/4/15 14:00,997.7,NaN,27.1,NaN,74,1.6,197,NaN,NaN,0,NaN,NaN,NaN,NaN
20054,20054,2018/4/15 15:00,998.1,NaN,26.6,NaN,77,1.1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20055,20055,2018/4/15 16:00,998.3,NaN,26.5,NaN,76,1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20056,20056,2018/4/15 17:00,999.2,NaN,25.6,NaN,82,0.7,199,NaN,NaN,0,NaN,NaN,NaN,NaN
20057,20057,2018/4/15 18:00,1000.2,NaN,24.6,NaN,91,0.5,185,NaN,NaN,0,NaN,NaN,NaN,NaN
20058,20058,2018/4/15 19:00,1000.3,NaN,24.4,NaN,95,0.1,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20059,20059,2018/4/15 20:00,1000.7,NaN,22.7,NaN,94,0.8,255,NaN,NaN,0,NaN,NaN,NaN,NaN
20060,20060,2018/4/15 21:00,1001.2,NaN,22,NaN,91,1,296,NaN,NaN,0,NaN,NaN,NaN,NaN
20061,20061,2018/4/15 22:00,1000.7,NaN,22.9,NaN,97,0.8,161,NaN,NaN,0,NaN,NaN,NaN,NaN
20062,20062,2018/4/15 23:00,1000.5,NaN,23.3,NaN,92,0.9,320,NaN,NaN,0,NaN,NaN,NaN,NaN

In [5]:
df = pd.read_csv(file_name)


# print(df.head())

df.head()
# df.to_csv("weather.csv")

,Unnamed: 0,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN

In [5]:
# df.columns = ['np', 'Date', '測站氣壓(hPa)StnPres', '海平面氣壓(hPa)SeaPres', '氣溫(℃)Temperature', '露點溫度(℃)Td dew point', '相對溼度(%)RH', '風速(m/s)WS', '風向(360degree)WD', '最大陣風(m/s)WSGust', '最大陣風風向(360degree)WDGust', '降水量(mm)Precp', '降水時數(hr)PrecpHour', '日照時數(hr)SunShine', '全天空日射量(MJ/㎡)GloblRad', '能見度(km)Visb']

In [12]:
# df.head()

0            0
1            1
2            2
3            3
4            4
5            5
6            6
7            7
8            8
9            9
10          10
11          11
12          12
13          13
14          14
15          15
16          16
17          17
18          18
19          19
20          20
21          21
22          22
23          23
24          24
25          25
26          26
27          27
28          28
29          29
         ...
20033    20033
20034    20034
20035    20035
20036    20036
20037    20037
20038    20038
20039    20039
20040    20040
20041    20041
20042    20042
20043    20043
20044    20044
20045    20045
20046    20046
20047    20047
20048    20048
20049    20049
20050    20050
20051    20051
20052    20052
20053    20053
20054    20054
20055    20055
20056    20056
20057    20057
20058    20058
20059    20059
20060    20060
20061    20061
20062    20062
Name: Unnamed: 0, Length: 20063, dtype: int64

In [13]:

df1 = df.drop('Unnamed: 0', 1, inplace=True)

In [16]:
df

,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN
5,2016/1/1 06:00,1010.8,NaN,17.2,NaN,81,1.1,115,NaN,NaN,0,NaN,NaN,NaN,NaN
6,2016/1/1 07:00,1011.6,NaN,18.2,NaN,80,0.5,172,NaN,NaN,0,NaN,NaN,NaN,NaN
7,2016/1/1 08:00,1012.2,NaN,21.9,NaN,67,0.9,208,NaN,NaN,0,NaN,NaN,NaN,NaN
8,2016/1/1 09:00,1011.9,NaN,23.8,NaN,60,0.5,251,NaN,NaN,0,NaN,NaN,NaN,NaN
9,2016/1/1 10:00,1011.1,NaN,25.8,NaN,51,0.8,203,NaN,NaN,0,NaN,NaN,NaN,NaN
10,2016/1/1 11:00,1010.3,NaN,26.3,NaN,46,1.7,321,NaN,NaN,0,NaN,NaN,NaN,NaN
11,2016/1/1 12:00,1009,NaN,26.8,NaN,45,1.8,318,NaN,NaN,0,NaN,NaN,NaN,NaN
12,2016/1/1 13:00,1008.1,NaN,27.6,NaN,44,1.5,240,NaN,NaN,0,NaN,NaN,NaN,NaN
13,2016/1/1 14:00,1007.9,NaN,27.6,NaN,44,1.4,276,NaN,NaN,0,NaN,NaN,NaN,NaN
14,2016/1/1 15:00,1008.2,NaN,25.2,NaN,55,2.3,208,NaN,NaN,0,NaN,NaN,NaN,NaN
15,2016/1/1 16:00,1008.8,NaN,23.3,NaN,62,1.2,223,NaN,NaN,0,NaN,NaN,NaN,NaN
16,2016/1/1 17:00,1009.3,NaN,21.4,NaN,70,0.5,60,NaN,NaN,0,NaN,NaN,NaN,NaN
17,2016/1/1 18:00,1009.7,NaN,20.6,NaN,74,0.8,60,NaN,NaN,0,NaN,NaN,NaN,NaN
18,2016/1/1 19:00,1010.2,NaN,20.1,NaN,76,0.7,65,NaN,NaN,0,NaN,NaN,NaN,NaN
19,2016/1/1 20:00,1010.5,NaN,19.2,NaN,79,0.7,34,NaN,NaN,0,NaN,NaN,NaN,NaN
20,2016/1/1 21:00,1010.6,NaN,18.7,NaN,84,0.8,4,NaN,NaN,0,NaN,NaN,NaN,NaN
21,2016/1/1 22:00,1010.3,NaN,17.6,NaN,90,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
22,2016/1/1 23:00,1010.1,NaN,17.6,NaN,89,0.7,1,NaN,NaN,0,NaN,NaN,NaN,NaN
23,2016/1/2 00:00,1010,NaN,16.9,NaN,92,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
24,2016/1/2 01:00,1009.6,NaN,17.4,NaN,90,1.4,50,NaN,NaN,0,NaN,NaN,NaN,NaN
25,2016/1/2 02:00,1008.4,NaN,17.9,NaN,86,1.7,47,NaN,NaN,0,NaN,NaN,NaN,NaN
26,2016/1/2 03:00,1008.4,NaN,17,NaN,89,1,355,NaN,NaN,0,NaN,NaN,NaN,NaN
27,2016/1/2 04:00,1007.5,NaN,17.6,NaN,86,1.1,41,NaN,NaN,0,NaN,NaN,NaN,NaN
28,2016/1/2 05:00,1008.2,NaN,17.1,NaN,88,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
29,2016/1/2 06:00,1008.3,NaN,18,NaN,85,1.1,70,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20033,2018/4/14 18:00,998.2,NaN,27.3,NaN,83,0.4,258,NaN,NaN,0,NaN,NaN,NaN,NaN
20034,2018/4/14 19:00,998,NaN,26.8,NaN,87,1,47,NaN,NaN,0,NaN,NaN,NaN,NaN
20035,2018/4/14 20:00,998.3,NaN,26,NaN,90,0.9,52,NaN,NaN,0,NaN,NaN,NaN,NaN
20036,2018/4/14 21:00,998.8,NaN,25.5,NaN,93,1.2,50,NaN,NaN,0,NaN,NaN,NaN,NaN
20037,2018/4/14 22:00,999.4,NaN,25.3,NaN,95,0.7,26,NaN,NaN,0,NaN,NaN,NaN,NaN
20038,2018/4/14 23:00,998.2,NaN,26.3,NaN,74,1.3,77,NaN,NaN,0,NaN,NaN,NaN,NaN
20039,2018/4/15 00:00,998,NaN,26,NaN,70,1,100,NaN,NaN,0,NaN,NaN,NaN,NaN
20040,2018/4/15 01:00,997.2,NaN,26,NaN,65,0.9,74,NaN,NaN,0,NaN,NaN,NaN,NaN
20041,2018/4/15 02:00,996.4,NaN,26.3,NaN,62,1.3,107,NaN,NaN,0,NaN,NaN,NaN,NaN
20042,2018/4/15 03:00,996.7,NaN,25.9,NaN,64,1.3,23,NaN,NaN,0,NaN,NaN,NaN,NaN
20043,2018/4/15 04:00,997,NaN,24.7,NaN,93,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20044,2018/4/15 05:00,997.6,NaN,24.5,NaN,89,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20045,2018/4/15 06:00,997.9,NaN,25.9,NaN,71,0.7,102,NaN,NaN,0,NaN,NaN,NaN,NaN
20046,2018/4/15 07:00,998,NaN,26.7,NaN,64,0.9,69,NaN,NaN,0,NaN,NaN,NaN,NaN
20047,2018/4/15 08:00,998.8,NaN,28.4,NaN,68,1.3,261,NaN,NaN,0,NaN,NaN,NaN,NaN
20048,2018/4/15 09:00,998.6,NaN,30,NaN,61,1,278,NaN,NaN,0,NaN,NaN,NaN,NaN
20049,2018/4/15 10:00,998.4,NaN,32.8,NaN,48,1.1,250,NaN,NaN,0,NaN,NaN,NaN,NaN
20050,2018/4/15 11:00,998.2,NaN,32.5,NaN,50,1.6,235,NaN,NaN,0,NaN,NaN,NaN,NaN
20051,2018/4/15 12:00,997.8,NaN,30.1,NaN,64,2.1,225,NaN,NaN,0,NaN,NaN,NaN,NaN
20052,2018/4/15 13:00,997.6,NaN,28.9,NaN,68,1.9,213,NaN,NaN,0,NaN,NaN,NaN,NaN
20053,2018/4/15 14:00,997.7,NaN,27.1,NaN,74,1.6,197,NaN,NaN,0,NaN,NaN,NaN,NaN
20054,2018/4/15 15:00,998.1,NaN,26.6,NaN,77,1.1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20055,2018/4/15 16:00,998.3,NaN,26.5,NaN,76,1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20056,2018/4/15 17:00,999.2,NaN,25.6,NaN,82,0.7,199,NaN,NaN,0,NaN,NaN,NaN,NaN
20057,2018/4/15 18:00,1000.2,NaN,24.6,NaN,91,0.5,185,NaN,NaN,0,NaN,NaN,NaN,NaN
20058,2018/4/15 19:00,1000.3,NaN,24.4,NaN,95,0.1,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20059,2018/4/15 20:00,1000.7,NaN,22.7,NaN,94,0.8,255,NaN,NaN,0,NaN,NaN,NaN,NaN
20060,2018/4/15 21:00,1001.2,NaN,22,NaN,91,1,296,NaN,NaN,0,NaN,NaN,NaN,NaN
20061,2018/4/15 22:00,1000.7,NaN,22.9,NaN,97,0.8,161,NaN,NaN,0,NaN,NaN,NaN,NaN
20062,2018/4/15 23:00,1000.5,NaN,23.3,NaN,92,0.9,320,NaN,NaN,0,NaN,NaN,NaN,NaN

In [17]:
df1 = df

In [18]:
df1

,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN
5,2016/1/1 06:00,1010.8,NaN,17.2,NaN,81,1.1,115,NaN,NaN,0,NaN,NaN,NaN,NaN
6,2016/1/1 07:00,1011.6,NaN,18.2,NaN,80,0.5,172,NaN,NaN,0,NaN,NaN,NaN,NaN
7,2016/1/1 08:00,1012.2,NaN,21.9,NaN,67,0.9,208,NaN,NaN,0,NaN,NaN,NaN,NaN
8,2016/1/1 09:00,1011.9,NaN,23.8,NaN,60,0.5,251,NaN,NaN,0,NaN,NaN,NaN,NaN
9,2016/1/1 10:00,1011.1,NaN,25.8,NaN,51,0.8,203,NaN,NaN,0,NaN,NaN,NaN,NaN
10,2016/1/1 11:00,1010.3,NaN,26.3,NaN,46,1.7,321,NaN,NaN,0,NaN,NaN,NaN,NaN
11,2016/1/1 12:00,1009,NaN,26.8,NaN,45,1.8,318,NaN,NaN,0,NaN,NaN,NaN,NaN
12,2016/1/1 13:00,1008.1,NaN,27.6,NaN,44,1.5,240,NaN,NaN,0,NaN,NaN,NaN,NaN
13,2016/1/1 14:00,1007.9,NaN,27.6,NaN,44,1.4,276,NaN,NaN,0,NaN,NaN,NaN,NaN
14,2016/1/1 15:00,1008.2,NaN,25.2,NaN,55,2.3,208,NaN,NaN,0,NaN,NaN,NaN,NaN
15,2016/1/1 16:00,1008.8,NaN,23.3,NaN,62,1.2,223,NaN,NaN,0,NaN,NaN,NaN,NaN
16,2016/1/1 17:00,1009.3,NaN,21.4,NaN,70,0.5,60,NaN,NaN,0,NaN,NaN,NaN,NaN
17,2016/1/1 18:00,1009.7,NaN,20.6,NaN,74,0.8,60,NaN,NaN,0,NaN,NaN,NaN,NaN
18,2016/1/1 19:00,1010.2,NaN,20.1,NaN,76,0.7,65,NaN,NaN,0,NaN,NaN,NaN,NaN
19,2016/1/1 20:00,1010.5,NaN,19.2,NaN,79,0.7,34,NaN,NaN,0,NaN,NaN,NaN,NaN
20,2016/1/1 21:00,1010.6,NaN,18.7,NaN,84,0.8,4,NaN,NaN,0,NaN,NaN,NaN,NaN
21,2016/1/1 22:00,1010.3,NaN,17.6,NaN,90,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
22,2016/1/1 23:00,1010.1,NaN,17.6,NaN,89,0.7,1,NaN,NaN,0,NaN,NaN,NaN,NaN
23,2016/1/2 00:00,1010,NaN,16.9,NaN,92,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
24,2016/1/2 01:00,1009.6,NaN,17.4,NaN,90,1.4,50,NaN,NaN,0,NaN,NaN,NaN,NaN
25,2016/1/2 02:00,1008.4,NaN,17.9,NaN,86,1.7,47,NaN,NaN,0,NaN,NaN,NaN,NaN
26,2016/1/2 03:00,1008.4,NaN,17,NaN,89,1,355,NaN,NaN,0,NaN,NaN,NaN,NaN
27,2016/1/2 04:00,1007.5,NaN,17.6,NaN,86,1.1,41,NaN,NaN,0,NaN,NaN,NaN,NaN
28,2016/1/2 05:00,1008.2,NaN,17.1,NaN,88,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
29,2016/1/2 06:00,1008.3,NaN,18,NaN,85,1.1,70,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20033,2018/4/14 18:00,998.2,NaN,27.3,NaN,83,0.4,258,NaN,NaN,0,NaN,NaN,NaN,NaN
20034,2018/4/14 19:00,998,NaN,26.8,NaN,87,1,47,NaN,NaN,0,NaN,NaN,NaN,NaN
20035,2018/4/14 20:00,998.3,NaN,26,NaN,90,0.9,52,NaN,NaN,0,NaN,NaN,NaN,NaN
20036,2018/4/14 21:00,998.8,NaN,25.5,NaN,93,1.2,50,NaN,NaN,0,NaN,NaN,NaN,NaN
20037,2018/4/14 22:00,999.4,NaN,25.3,NaN,95,0.7,26,NaN,NaN,0,NaN,NaN,NaN,NaN
20038,2018/4/14 23:00,998.2,NaN,26.3,NaN,74,1.3,77,NaN,NaN,0,NaN,NaN,NaN,NaN
20039,2018/4/15 00:00,998,NaN,26,NaN,70,1,100,NaN,NaN,0,NaN,NaN,NaN,NaN
20040,2018/4/15 01:00,997.2,NaN,26,NaN,65,0.9,74,NaN,NaN,0,NaN,NaN,NaN,NaN
20041,2018/4/15 02:00,996.4,NaN,26.3,NaN,62,1.3,107,NaN,NaN,0,NaN,NaN,NaN,NaN
20042,2018/4/15 03:00,996.7,NaN,25.9,NaN,64,1.3,23,NaN,NaN,0,NaN,NaN,NaN,NaN
20043,2018/4/15 04:00,997,NaN,24.7,NaN,93,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20044,2018/4/15 05:00,997.6,NaN,24.5,NaN,89,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20045,2018/4/15 06:00,997.9,NaN,25.9,NaN,71,0.7,102,NaN,NaN,0,NaN,NaN,NaN,NaN
20046,2018/4/15 07:00,998,NaN,26.7,NaN,64,0.9,69,NaN,NaN,0,NaN,NaN,NaN,NaN
20047,2018/4/15 08:00,998.8,NaN,28.4,NaN,68,1.3,261,NaN,NaN,0,NaN,NaN,NaN,NaN
20048,2018/4/15 09:00,998.6,NaN,30,NaN,61,1,278,NaN,NaN,0,NaN,NaN,NaN,NaN
20049,2018/4/15 10:00,998.4,NaN,32.8,NaN,48,1.1,250,NaN,NaN,0,NaN,NaN,NaN,NaN
20050,2018/4/15 11:00,998.2,NaN,32.5,NaN,50,1.6,235,NaN,NaN,0,NaN,NaN,NaN,NaN
20051,2018/4/15 12:00,997.8,NaN,30.1,NaN,64,2.1,225,NaN,NaN,0,NaN,NaN,NaN,NaN
20052,2018/4/15 13:00,997.6,NaN,28.9,NaN,68,1.9,213,NaN,NaN,0,NaN,NaN,NaN,NaN
20053,2018/4/15 14:00,997.7,NaN,27.1,NaN,74,1.6,197,NaN,NaN,0,NaN,NaN,NaN,NaN
20054,2018/4/15 15:00,998.1,NaN,26.6,NaN,77,1.1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20055,2018/4/15 16:00,998.3,NaN,26.5,NaN,76,1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20056,2018/4/15 17:00,999.2,NaN,25.6,NaN,82,0.7,199,NaN,NaN,0,NaN,NaN,NaN,NaN
20057,2018/4/15 18:00,1000.2,NaN,24.6,NaN,91,0.5,185,NaN,NaN,0,NaN,NaN,NaN,NaN
20058,2018/4/15 19:00,1000.3,NaN,24.4,NaN,95,0.1,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20059,2018/4/15 20:00,1000.7,NaN,22.7,NaN,94,0.8,255,NaN,NaN,0,NaN,NaN,NaN,NaN
20060,2018/4/15 21:00,1001.2,NaN,22,NaN,91,1,296,NaN,NaN,0,NaN,NaN,NaN,NaN
20061,2018/4/15 22:00,1000.7,NaN,22.9,NaN,97,0.8,161,NaN,NaN,0,NaN,NaN,NaN,NaN
20062,2018/4/15 23:00,1000.5,NaN,23.3,NaN,92,0.9,320,NaN,NaN,0,NaN,NaN,NaN,NaN

In [19]:
df1.to_csv("WW.csv")

In [13]:
df.head()

,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN

In [11]:
df1 = pd.read_csv("W.csv")

In [12]:
df1.head()

,Unnamed: 0,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN

In [13]:
df1

,Unnamed: 0,Date,測站氣壓(hPa)StnPres,海平面氣壓(hPa)SeaPres,氣溫(℃)Temperature,露點溫度(℃)Td dew point,相對溼度(%)RH,風速(m/s)WS,風向(360degree)WD,最大陣風(m/s)WSGust,最大陣風風向(360degree)WDGust,降水量(mm)Precp,降水時數(hr)PrecpHour,日照時數(hr)SunShine,全天空日射量(MJ/㎡)GloblRad,能見度(km)Visb
0,0,2016/1/1 01:00,1010.2,NaN,17.8,NaN,85,1.4,56,NaN,NaN,0,NaN,NaN,NaN,NaN
1,1,2016/1/1 02:00,1009.8,NaN,17.2,NaN,86,0.8,75,NaN,NaN,0,NaN,NaN,NaN,NaN
2,2,2016/1/1 03:00,1009.8,NaN,17.5,NaN,84,1.3,80,NaN,NaN,0,NaN,NaN,NaN,NaN
3,3,2016/1/1 04:00,1009.8,NaN,17.5,NaN,81,1.1,92,NaN,NaN,0,NaN,NaN,NaN,NaN
4,4,2016/1/1 05:00,1010.4,NaN,16.5,NaN,87,0.9,126,NaN,NaN,0,NaN,NaN,NaN,NaN
5,5,2016/1/1 06:00,1010.8,NaN,17.2,NaN,81,1.1,115,NaN,NaN,0,NaN,NaN,NaN,NaN
6,6,2016/1/1 07:00,1011.6,NaN,18.2,NaN,80,0.5,172,NaN,NaN,0,NaN,NaN,NaN,NaN
7,7,2016/1/1 08:00,1012.2,NaN,21.9,NaN,67,0.9,208,NaN,NaN,0,NaN,NaN,NaN,NaN
8,8,2016/1/1 09:00,1011.9,NaN,23.8,NaN,60,0.5,251,NaN,NaN,0,NaN,NaN,NaN,NaN
9,9,2016/1/1 10:00,1011.1,NaN,25.8,NaN,51,0.8,203,NaN,NaN,0,NaN,NaN,NaN,NaN
10,10,2016/1/1 11:00,1010.3,NaN,26.3,NaN,46,1.7,321,NaN,NaN,0,NaN,NaN,NaN,NaN
11,11,2016/1/1 12:00,1009,NaN,26.8,NaN,45,1.8,318,NaN,NaN,0,NaN,NaN,NaN,NaN
12,12,2016/1/1 13:00,1008.1,NaN,27.6,NaN,44,1.5,240,NaN,NaN,0,NaN,NaN,NaN,NaN
13,13,2016/1/1 14:00,1007.9,NaN,27.6,NaN,44,1.4,276,NaN,NaN,0,NaN,NaN,NaN,NaN
14,14,2016/1/1 15:00,1008.2,NaN,25.2,NaN,55,2.3,208,NaN,NaN,0,NaN,NaN,NaN,NaN
15,15,2016/1/1 16:00,1008.8,NaN,23.3,NaN,62,1.2,223,NaN,NaN,0,NaN,NaN,NaN,NaN
16,16,2016/1/1 17:00,1009.3,NaN,21.4,NaN,70,0.5,60,NaN,NaN,0,NaN,NaN,NaN,NaN
17,17,2016/1/1 18:00,1009.7,NaN,20.6,NaN,74,0.8,60,NaN,NaN,0,NaN,NaN,NaN,NaN
18,18,2016/1/1 19:00,1010.2,NaN,20.1,NaN,76,0.7,65,NaN,NaN,0,NaN,NaN,NaN,NaN
19,19,2016/1/1 20:00,1010.5,NaN,19.2,NaN,79,0.7,34,NaN,NaN,0,NaN,NaN,NaN,NaN
20,20,2016/1/1 21:00,1010.6,NaN,18.7,NaN,84,0.8,4,NaN,NaN,0,NaN,NaN,NaN,NaN
21,21,2016/1/1 22:00,1010.3,NaN,17.6,NaN,90,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
22,22,2016/1/1 23:00,1010.1,NaN,17.6,NaN,89,0.7,1,NaN,NaN,0,NaN,NaN,NaN,NaN
23,23,2016/1/2 00:00,1010,NaN,16.9,NaN,92,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
24,24,2016/1/2 01:00,1009.6,NaN,17.4,NaN,90,1.4,50,NaN,NaN,0,NaN,NaN,NaN,NaN
25,25,2016/1/2 02:00,1008.4,NaN,17.9,NaN,86,1.7,47,NaN,NaN,0,NaN,NaN,NaN,NaN
26,26,2016/1/2 03:00,1008.4,NaN,17,NaN,89,1,355,NaN,NaN,0,NaN,NaN,NaN,NaN
27,27,2016/1/2 04:00,1007.5,NaN,17.6,NaN,86,1.1,41,NaN,NaN,0,NaN,NaN,NaN,NaN
28,28,2016/1/2 05:00,1008.2,NaN,17.1,NaN,88,0,0,NaN,NaN,0,NaN,NaN,NaN,NaN
29,29,2016/1/2 06:00,1008.3,NaN,18,NaN,85,1.1,70,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20033,20033,2018/4/14 18:00,998.2,NaN,27.3,NaN,83,0.4,258,NaN,NaN,0,NaN,NaN,NaN,NaN
20034,20034,2018/4/14 19:00,998,NaN,26.8,NaN,87,1,47,NaN,NaN,0,NaN,NaN,NaN,NaN
20035,20035,2018/4/14 20:00,998.3,NaN,26,NaN,90,0.9,52,NaN,NaN,0,NaN,NaN,NaN,NaN
20036,20036,2018/4/14 21:00,998.8,NaN,25.5,NaN,93,1.2,50,NaN,NaN,0,NaN,NaN,NaN,NaN
20037,20037,2018/4/14 22:00,999.4,NaN,25.3,NaN,95,0.7,26,NaN,NaN,0,NaN,NaN,NaN,NaN
20038,20038,2018/4/14 23:00,998.2,NaN,26.3,NaN,74,1.3,77,NaN,NaN,0,NaN,NaN,NaN,NaN
20039,20039,2018/4/15 00:00,998,NaN,26,NaN,70,1,100,NaN,NaN,0,NaN,NaN,NaN,NaN
20040,20040,2018/4/15 01:00,997.2,NaN,26,NaN,65,0.9,74,NaN,NaN,0,NaN,NaN,NaN,NaN
20041,20041,2018/4/15 02:00,996.4,NaN,26.3,NaN,62,1.3,107,NaN,NaN,0,NaN,NaN,NaN,NaN
20042,20042,2018/4/15 03:00,996.7,NaN,25.9,NaN,64,1.3,23,NaN,NaN,0,NaN,NaN,NaN,NaN
20043,20043,2018/4/15 04:00,997,NaN,24.7,NaN,93,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20044,20044,2018/4/15 05:00,997.6,NaN,24.5,NaN,89,0.2,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20045,20045,2018/4/15 06:00,997.9,NaN,25.9,NaN,71,0.7,102,NaN,NaN,0,NaN,NaN,NaN,NaN
20046,20046,2018/4/15 07:00,998,NaN,26.7,NaN,64,0.9,69,NaN,NaN,0,NaN,NaN,NaN,NaN
20047,20047,2018/4/15 08:00,998.8,NaN,28.4,NaN,68,1.3,261,NaN,NaN,0,NaN,NaN,NaN,NaN
20048,20048,2018/4/15 09:00,998.6,NaN,30,NaN,61,1,278,NaN,NaN,0,NaN,NaN,NaN,NaN
20049,20049,2018/4/15 10:00,998.4,NaN,32.8,NaN,48,1.1,250,NaN,NaN,0,NaN,NaN,NaN,NaN
20050,20050,2018/4/15 11:00,998.2,NaN,32.5,NaN,50,1.6,235,NaN,NaN,0,NaN,NaN,NaN,NaN
20051,20051,2018/4/15 12:00,997.8,NaN,30.1,NaN,64,2.1,225,NaN,NaN,0,NaN,NaN,NaN,NaN
20052,20052,2018/4/15 13:00,997.6,NaN,28.9,NaN,68,1.9,213,NaN,NaN,0,NaN,NaN,NaN,NaN
20053,20053,2018/4/15 14:00,997.7,NaN,27.1,NaN,74,1.6,197,NaN,NaN,0,NaN,NaN,NaN,NaN
20054,20054,2018/4/15 15:00,998.1,NaN,26.6,NaN,77,1.1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20055,20055,2018/4/15 16:00,998.3,NaN,26.5,NaN,76,1,204,NaN,NaN,0,NaN,NaN,NaN,NaN
20056,20056,2018/4/15 17:00,999.2,NaN,25.6,NaN,82,0.7,199,NaN,NaN,0,NaN,NaN,NaN,NaN
20057,20057,2018/4/15 18:00,1000.2,NaN,24.6,NaN,91,0.5,185,NaN,NaN,0,NaN,NaN,NaN,NaN
20058,20058,2018/4/15 19:00,1000.3,NaN,24.4,NaN,95,0.1,0,NaN,NaN,0,NaN,NaN,NaN,NaN
20059,20059,2018/4/15 20:00,1000.7,NaN,22.7,NaN,94,0.8,255,NaN,NaN,0,NaN,NaN,NaN,NaN
20060,20060,2018/4/15 21:00,1001.2,NaN,22,NaN,91,1,296,NaN,NaN,0,NaN,NaN,NaN,NaN
20061,20061,2018/4/15 22:00,1000.7,NaN,22.9,NaN,97,0.8,161,NaN,NaN,0,NaN,NaN,NaN,NaN
20062,20062,2018/4/15 23:00,1000.5,NaN,23.3,NaN,92,0.9,320,NaN,NaN,0,NaN,NaN,NaN,NaN